- page_title << "IP Pools"
- page_title << @ip_pool.name
- add_title = @ip_pool.proxy? ? "Add proxy address" : "Add local IP address"
- page_title << add_title
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = link_to "IP Pools", :ip_pools
      &rarr;
      = @ip_pool.name
      &rarr;
      Edit
      &rarr;
    = add_title

.pageContent.pageContent--compact
  = render 'form'

