---
name: CI
on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  build-latest:
    name: Build Latest Package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - id: info
        run: |
          VER="$(git describe --tags 2>/dev/null || echo '0.0.0')"
          echo "version=${VER}" >> "$GITHUB_OUTPUT"
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: full
          platforms: linux/amd64
          build-args: |
            VERSION=${{ steps.info.outputs.version }}
            BRANCH=main
